@model List<Portfolio>
<div class="section px-2 px-lg-4 pt-5" id="portfolio">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">Portfolio</h2>
        </div>
        <div class="grid bp-gallery pb-3" data-aos="zoom-in-up" data-aos-delay="100">
            <div class="grid-sizer"></div>
            @foreach (var p in Model)
            {
                <a href="@p.WebUrl">
                 <div class="grid-item">
                
                    <figure class="portfolio-item">
                        <img src="@p.BigImageUrl" data-bp="@p.SmallImageUrl" data-caption="Example of an optional caption." />
                        <figcaption>
                                
								<h4 class="h5 mb-0">@p.Department</h4>
                                <div>@p.WebName</div>
                                
                        </figcaption>
						</figure>
					</div>
                </a>
        
            }
           
            
        </div>
    </div>
</div>