
@{
    ViewData["Title"] = "GetList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<Skill>


@await Html.PartialAsync("_LinkScript")

<body id="table-body">
    <div class="container-xl mt-5 p-5">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <a href="/Skill/Add" class="btn btn-success">Yeni Kayıt Ekle</a>
                    <div class="row">
                        <div class="col-sm-8"><h2><b>Yetenekler</b></h2></div>
                        <div class="col-sm-4">
                            <div class="search-box">
                                
                                <input type="text" class="form-control" placeholder="Search&hellip;">
                            </div>  
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Yetenek</th>
                            <th>Value</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.SkillID</td>
                                <td>@item.Title</td>
                                <td>
                                    <div class="align-items-center">
										<span class="mr-2">
											@item.Value%
										</span>
										<div>

											<div class="progress">
                                                <div class="progress-bar bg-success" role="progressbar" style="width: @item.Value%" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
										</div>
                                    </div>
                                </td>
                         

                                <td>

                                    <a href="/Skill/Update/@item.SkillID" class="edit" title="Güncelle" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a href="/Skill/Delete/@item.SkillID" class="delete" onclick="return confirm('Silmek istediğinize emin misiniz?')" title="Sil" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
               
               
            </div>
        </div>
    </div>
</body>
